 .fondo {
   width: 100%;
   background: url("../../../../../src/assets/images/productos/FONDO.webp");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

 }

 .seccion-100 {
   width: 100%;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 1.5rem;
   display: inline-table;

 }

 .contenedor {
   display: flex;
   flex-direction: row;
   height: 100vh;
 }

 .seccion-10 {
   width: 10%;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   display: flex;
 }

 .seccion-90 {
   width: 85%;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: row;
   overflow-y: auto;
   scrollbar-width: auto;
   scrollbar-color: #a0a0a0 #2c2c2c;
   padding-top: 850px;

 }

 .seccion-60 {
   width: 60%;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 .seccion-40 {
   width: 40%;
   text-align: center;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }


 .lista-productos {
   list-style: none;
   padding: 0;
   margin: 0;
   color: #ffffff;
 }

 .lista-productos li {
   margin-bottom: 13px;
   font-size: 26px;
   font-family: "Kallisto_ligth", sans-serif;
 }


 .seccion-40 img {
   text-align: center;
   width: 70%;
   margin-top: 100px;
 }