<div class="fondo">

  <div class="seccion-100">
    <h1>Productos</h1>
  </div>

  <div class="contenedor">
    <div class="seccion-10">
      <img *ngFor="let icono of iconos" [src]="icono" class="icono" />
    </div>
    <div class="seccion-90">

      <div class="seccion-60">

        <ul class="lista-productos">
          <li *ngFor="let producto of productos">{{ producto }}</li>
        </ul>


      </div>
      <div class="seccion-40">

        <img src="assets/images/productos/PRODUCTO1.webp" alt="grúa" class="grua-img" />
        <img src="assets/images/productos/PRODUCTO2.webp" alt="grúa" class="grua-img" />
        <img src="assets/images/productos/PRODUCTO3.webp" alt="grúa" class="grua-img" />
        <img src="assets/images/productos/PRODUCTO4.webp" alt="grúa" class="grua-img" />

      </div>

    </div>
  </div>
</div>