.contenedor-productos {

  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.823)),
    url('../../../../../src/assets/images/productos/Recurso122.webp') no-repeat center center;
  background-size: cover;

}

.seccion-superior {
  width: 100%;
  text-align: left;
}

/* Subcontenedor para las 3 secciones de abajo */

.subcontenedor-central {
  flex: 1;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  height: 450px;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #a0a0a0 #2c2c2c;
  max-height:550px; 
  margin-right: 200px;
}

.seccion-iconos {
  width: 10%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  position: sticky;
  top: 0;
  align-self: flex-start; /* ayuda a que sticky funcione dentro del flexbox */
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.icono {

  filter: brightness(1.2);
}

.seccion-textos {
  width: 50%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Quitar cualquier scroll o altura aquí */
  overflow: visible;
}

.lista-productos {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-productos li {
  margin-bottom: 8px;
  font-size: 28px;
  font-family: 'Kallisto_bold', sans-serif;
}

.seccion-imagen {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;
  align-self: flex-end; /* ayuda a que sticky funcione dentro del flexbox */
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}


.grua-con-overlay {
  position: relative;
  width: 100%;
  height: auto;
}

.grua-img {
  width: 55%;
  height: auto;
  display: block;
}

.icono-sobre-grua {
  position: absolute;
  top: 30%;         /* Inicia desde la mitad de la imagen base */
  left: 0;
  width: 60%;      /* Ajusta según lo necesario */
  height: auto;
  pointer-events: none;
  transform: translateY(-50%);  /* Opcional: para centrar desde el punto medio */
}



@media (max-width: 767px) {

  .seccion-imagen{
    display: none;
  }

  .seccion-iconos{
    display: none;
  }

  .subcontenedor-central {
    flex-direction: column;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
    padding: 0; /* quitar padding lateral si quieres usar todo el ancho */
    margin-right: 0; /* quitar margen derecho */
  }


  .seccion-textos{
    width: 100%;
    padding: 10px; /* opcional: espacio interno sin limitar ancho */
    box-sizing: border-box; /* asegura que padding no sobrepase el 100% */
  }

  .seccion-superior{

    img{
      width: 50%;
    }
  }

  .lista-productos li {
    margin-bottom: 15px;
    font-size: 20px;
  }



}
