.image-container {
  position: relative;
  /* Esto permite posicionar hijos absolutamente dentro */
  display: inline-block;
  /* para ajustar al tamaño de la imagen */
}

.image-container img {
  display: block;
  /* Quita espacios extra debajo de la imagen */
  width: 100%;
  /* o un ancho fijo si quieres */
  height: auto;
}

.centered-text {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  color: #fff;
  text-align: right;
  width: 80%;
  margin-bottom: 20px;
  font-family: "Kallisto_bold", sans-serif;
  font-size: 20px;
}

@media (max-width: 768px) {
  .centered-text {
    width: 80%;
    margin-right: 30px;
    margin-bottom: 1px;
    font-size: 11px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .centered-text {
    width: 80%;
    margin-bottom: 35px;
    margin-right: 20px;
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  .centered-text {
    width: 70%;
    margin-bottom: 40px;
    margin-left: 20px;
    font-size: 20px;
  }
}
