body {
  overflow-x: hidden;
}

.image-container {
  position: relative;
  display: inline-block;

}

.image-container img {
  display: block;
  width: 100%;
  height: auto;

}

.centrado {
  position: absolute;      /* o fixed si quieres que esté siempre en el centro de la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.centered-text {
  position: absolute;
  top: 40%;
  bottom: 0;
  right: 0;
  color: #fff;
  text-align: right;
  font-family: "ApparatRegular";
  font-size: 12px;
  margin-right: 10px;
  width: 89%;
}



@media (max-width: 768px) {
  .centered-text {
    width: 80%;
    margin-right: 30px;
    margin-bottom: 1px;
    font-size: 11px;
  }


}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .centered-text {
    width: 82%;
    margin-right: 15px;
    font-size: 16px;
  }

}

@media (min-width: 1400px) {
  .centered-text {
    width: 70%;
    font-size: 18px;

  }


}

@media (max-width: 576px) {
  .centered-text {
    font-size: 12px;
    width: 80%;
    margin-right: 20px;

  }

}
