<div class="maquinaria-container">
    <h2 class="titulo">Maquinaria</h2>
  
    <div class="contenido">
      <!-- Sección Izquierda - Íconos -->
      <div class="iconos">
        <img src="img/icono1.png" alt="Icono 1" class="icono">
        <img src="img/icono2.png" alt="Icono 2" class="icono">
        <img src="img/icono3.png" alt="Icono 3" class="icono">
        <img src="img/icono4.png" alt="Icono 4" class="icono">
      </div>
  
      <!-- Sección Derecha - Cuadrícula de Maquinarias -->
      <div class="grid-container">
        <div class="grid-maquinas">
          <div class="maquina">
            <div class="Col">
              <img src="img/cpx800.jpg" alt="CPX 800" class="imagen-maquina" />
            </div>
            <p class="nombre-maquina">CPX 800</p>
          </div>
          <!-- ... Resto de las maquinarias ... -->
          <div class="maquina">
            <div class="Col">
              <img src="img/cpx800.jpg" alt="CPX 800" class="imagen-maquina" />
            </div>
            <p class="nombre-maquina">CPX 800</p>
          </div>
          <div class="maquina">
            <div class="Col">
              <img src="img/cpx800.jpg" alt="CPX 800" class="imagen-maquina" />
            </div>
            <p class="nombre-maquina">CPX 800</p>
          </div>
          <div class="maquina">
            <div class="Col">
              <img src="img/cpx800.jpg" alt="CPX 800" class="imagen-maquina" />
            </div>
            <p class="nombre-maquina">CPX 800</p>
          </div>
          <div class="maquina">
            <div class="Col">
              <img src="img/cpx800.jpg" alt="CPX 800" class="imagen-maquina" />
            </div>
            <p class="nombre-maquina">CPX 800</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  