.image-container {
  position: relative;
  /* Esto permite posicionar hijos absolutamente dentro */
  display: inline-block;
  /* para ajustar al tamaño de la imagen */
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.centrado {
  position: absolute;      /* o fixed si quieres que esté siempre en el centro de la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.centered-text {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: left;
  font-family: "ApparatRegular";
  font-size: 12px;
  margin-left: 10px;
  width: 89%;
  border: 0px solid blueviolet;
}

@media (max-width: 768px) {
  .centered-text {
    width: 80%;
    margin-left: 30px;
    margin-bottom: 1px;
    font-size: 11px;
    border: 0px solid orange;
  }


}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .centered-text {
    width: 82%;
    margin-left: 16px;
    font-size: 16px;
    border: 0px solid green;
  }


}

@media (min-width: 1400px) {
  .centered-text {
    width: 70%;
    font-size: 18px;
    border: 0px solid blue;

  }


}

@media (max-width: 576px) {
  .centered-text {
    font-size: 12px;
    width: 80%;
    margin-left: 20px;
    border: 0px solid red;

  }
}
