.image-container {
    position: relative;
    /* Esto permite posicionar hijos absolutamente dentro */
    display: inline-block;
    /* para ajustar al tamaño de la imagen */
}

.image-container img {
    display: block;
    /* Quita espacios extra debajo de la imagen */
    width: 100%;
    /* o un ancho fijo si quieres */
    height: auto;
}

.centered-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 30px;
    color: #fff;
    text-align: left;
    width: 60%;
    margin-bottom: 20px;
    font-family: 'Kallisto_bold', sans-serif;
    font-size: 20px;
}


@media (max-width: 768px) {

    .centered-text {
        width: 90%;
        margin-left: 3px;
        margin-bottom: 1px;
        font-size: 14px;
    }

}
