<div class="contenedor-principal">
  <div class="columna">
    <img class="imgFlecha" src="images/header/Recurso_8.webp" />
  </div>
  <div class="columna">

    <div class="hero-text">
      <h1>
        <span>AMÉRICA</span><br />
        <span>SUR</span><br />
        <span>INTERNACIONAL</span>
      </h1>
      <p>
        Suministramos equipos, herramientas y <br>
        compuestos para perforación desde 1996. Nuestros<br>
        clientes: Minería, Exploración, Construcción y<br>
        Pozos de Agua.
      </p>

    </div>
  </div>
</div>
