@font-face {
  font-family: 'Kallisto_bold';
  src: url('../../../../assets/fonts/fonnts.com-Kallisto_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Apparat_Regular';
  src: url('../../../../assets/fonts/fonnts.com-Apparat_Regular.otf') format('opentype');
}


.contenedor-principal {
  display: flex;
  align-items: stretch;
  /* Asegura que ambas columnas tengan el mismo alto */
  justify-content: flex-start;
  width: 100%;
  height: 90vh;
  /* Altura del contenedor (puedes ajustarla o usar 100vh) */
  background-color: #f0f0f0;
  padding-left: 13%;
  box-sizing: border-box;
  background: url('../../../../../public/images/header/Recurso_20.webp') no-repeat center center / cover;
}

.imgFlecha {
  width: 100%;
 }

.columna {
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  border: 0px solid;
  box-sizing: border-box;

}

.hero-text {
  z-index: 2;
  max-width: 500px;
  color: white;
  font-family: 'Kallisto_bold', sans-serif;

  h1 {
    font-size: 50pt;
    margin: 0;
  }

  p {
    margin-top: 20px;
    font-family: 'Apparat_Regular', sans-serif;
    font-size: 19pt;
    font-weight: normal;
    width: 650px;
    margin: 10;
    padding: 0;
    text-align: justify;
    text-align-last: justify;
    /* fuerza la última línea también */
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}


@media (max-width: 767px) {

  .contenedor-principal {

    padding-left: 0%;

  }

  .imgFlecha {
    margin: 10px;
    width: 40px;
   }

  .hero-text {
    z-index: 2;
    color: white;
    font-family: 'Kallisto_bold', sans-serif;

    h1 {
      font-size: 25pt;
      margin: 0;
    }

    p {
      margin-top: 20px;
      font-family: 'Apparat_Regular', sans-serif;
      font-size: 19pt;
      font-weight: normal;
      width: 200px;
      padding: 0;
      text-align: justify;
      text-align-last: justify;
      /* fuerza la última línea también */
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

}
