<div class="contenedor-principal">
  <div class="columna">
    <img class="imgFlecha" src="assets/images/header/Recurso_8.webp" />
  </div>
  <div class="columna">

    <div class="hero-text">
      <h1>
        <span>AMÉRICA</span><br />
        <span>SUR</span><br />
        <span>INTERNACIONAL</span>
      </h1>
      <p>
        Suministramos equipos, herramientas y
        compuestos para perforación desde 1996. Nuestros
        clientes: Minería, Exploración, Construcción y
        Pozos de Agua.
      </p>

    </div>
  </div>
</div>
