<div class="hero-container">



  <div class="hero-text">
    <h1>
      <img src="images/header/Recurso_8.webp" />
      <span style="padding-left: 10px;" >AMÉRICA</span><br />
      <span style="padding-left: 80px;" >SUR</span><br />
      <span style="padding-left: 80px;" >INTERNACIONAL</span>
    </h1>
    <p style="padding-left: 80px;">
      Suministramos equipos, herramientas y <br>
      compuestos para perforación desde 1996. Nuestros<br>
      clientes: Minería, Exploración, Construcción y<br>
      Pozos de Agua.
    </p>
  </div>
</div>
