@font-face {
  font-family: 'Apparat_Regular';
  src: url('../../../../assets/fonts/fonnts.com-Apparat_Regular.otf') format('opentype');
}

.contenido {
  position: relative;
  padding: 50px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.titulo {
  font-family: 'Apparat_Regular', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

.metricas {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.metrica {
  border: 0px red solid;
  background-color: rgba(255, 255, 255, 0.2);
  /* blanco translúcido */
  border-radius: 30px;
  /* bordes redondeados */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: center;

}

.numero {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;      /* centra verticalmente */
  font-family: 'Apparat_Regular', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  line-height: 1.5;

}
