<!-- Contenido -->
<div class="contenido">
  <h1 class="titulo">SOMOS TU ALIADO<br />DE CONFIANZA</h1>

  <div class="metricas">
    <div class="metrica">
      <span class="numero"> + 100 </span>
      <span class="letra"> MAQUINARIAS <br /> VENDIDAS</span>
    </div>

    <div class="metrica">
      <span class="numero"> + 30 </span>
      <span class="letra"> AÑOS</span>
    </div>

    <div class="metrica">
      <span class="numero"> + 40 </span>
      <span class="letra"> CLIENTES</span>
    </div>
  </div>

</div>
