@font-face {
  font-family: 'Apparat_Regular';
  src: url('../../../../assets/fonts/fonnts.com-Apparat_Regular.otf') format('opentype');
}

.contenido {
  padding: 50px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.titulo {
  font-family: 'Apparat_Regular', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

.metricas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;   /* Centra las columnas horizontalmente */
  width: 80%;        /* Opcional: para que ocupe toda la altura de la pantalla */
  box-sizing: border-box;
}

.metrica {

  background-color: rgba(255, 255, 255, 0.2);
  /* blanco translúcido */
  border-radius: 30px;
  /* bordes redondeados */
  flex: 0 0 30%;             /* Aproximadamente 3 columnas con espacio */
  max-width: 30%;
  margin: 1%;                /* Espaciado entre columnas */
  text-align: center;
  padding: 30px;
  box-sizing: border-box;

}

.letra {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;      /* centra verticalmente */
  font-family: 'Apparat_Regular', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  line-height: 1.2;

}

.cadenaimg{
  border: 0px solid red;
}

/* Adaptación a móviles: 1 columna */
@media (max-width: 767px) {

  .metricas {
    width: 100%;
  }

  .metrica {

    flex: 0 0 100%;
    max-width: 100%;

  }
}
