<!-- Contenido -->
<div id="Marca" class="contenido">

  <h1 class="titulo">SOMOS TU ALIADO<br />DE CONFIANZA</h1>
  <div class="metricas">
    <div class="metrica">
      <img class="imgNumeros" src="assets/images/nosotros2/NUM_MAQ.webp" alt="Feaver Tools" />

    </div>

    <div class="metrica">
      <img class="imgNumeros" src="assets/images/nosotros2/NUM_ANOS.webp" alt="Feaver Tools" />

    </div>

    <div class="metrica">
      <img class="imgNumeros" src="assets/images/nosotros2/NUM_CLIENTES.webp" alt="Feaver Tools" />

    </div>
  </div>
</div>

<div class="letraSub" >
  <p>
    Para ASI el cliente es el centro de nuestro enfoque, en<br>
    una industria donde el tiempo es muy valioso y la<br>
    seguridad una norma.
  </p>
</div>
