@font-face {
  font-family: 'Apparat_Regular';
  src: url('../../../../assets/fonts/fonnts.com-Apparat_Regular.otf') format('opentype');
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-family: 'Kallisto_bold', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 50px;
}

.metricas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;   /* Centra las columnas horizontalmente */
  vertical-align: middle;
  width: 90%;        /* Opcional: para que ocupe toda la altura de la pantalla */
  border: 0px solid red;

}

.metrica {

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 1%;
  margin-left: 1%;

}

.imgNumeros{
  width: 150px;
}

.letra {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;      /* centra verticalmente */
  font-family: 'Kallisto_bold', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  line-height: 1.2;

}

.cadenaimg{
  background-image: url('../../../../../src/assets/images/nosotros2/Recurso124.webp');

  background-size: contain;
  border: 0px solid red;
  width: 100%;

  background-repeat: repeat-x;             /* solo repite horizontalmente */
  background-position: bottom;      /* ubicada en la parte inferior y centrada */


}


/* Adaptación a móviles: 1 columna */
@media (max-width: 767px) {

  .metricas {
    width: 100%;
  }

  .metrica {

    flex: 0 0 100%;
    max-width: 100%;

  }
}
