<!-- Contenido -->
<div class="contenido">
  <h1 class="titulo">SOMOS TU ALIADO<br />DE CONFIANZA</h1>
  <div class="metricas">
    <div class="metrica">
      <img class="imgNumeros" src="assets/images/nosotros2/Recurso103.webp" alt="Feaver Tools" />
      <span class="letra"> MAQUINARIAS <br /> VENDIDAS</span>
    </div>

    <div class="metrica">
      <img class="imgNumeros" src="assets/images/nosotros2/Recurso_30.webp" alt="Feaver Tools" />
      <span class="letra"> AÑOS</span>
    </div>

    <div class="metrica">
      <img class="imgNumeros" src="assets/images/nosotros2/Recurso101.webp" alt="Feaver Tools" />
      <span class="letra"> CLIENTES</span>
    </div>
  </div>

</div>
<div class="cadenaimg">
<div style="height: 150px;" >

</div>
</div>



