.contenedor-principal {
  width: 100%;

  overflow: hidden;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background: url('../../../../assets/images/nosotros2/Recurso_50.webp') no-repeat center center / cover;
}
