.overlay-left {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 10%;
  height: 100%;
  z-index: 1;
  opacity: 25%;
}

.contenedor-principal {
  position: relative;
  background-color: #1a1a1a;
}
