<nav class="navbar">
  <div class="logo">
    <img src="assets/images/navbar/Logo.webp" />
  </div>

  <div class="menu-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-links" [class.active]="menuOpen">
    <li><a href="#Inicio" (click)="closeMenu()">INICIO</a></li>
    <li><a href="#Marca" (click)="closeMenu()">MARCA</a></li>
    <li><a href="#divProducto" (click)="closeMenu()">PRODUCTOS</a></li>
    <li><a href="#Servicios" (click)="closeMenu()">SERVICIOS</a></li>

    <!-- <li><a href="#Nosotros2" (click)="closeMenu()">CLIENTES</a></li> -->
    <li><a href="#Contacto" (click)="closeMenu()">CONTACTO</a></li>
  </ul>
</nav>
