<div class="contenedor-flex">
  <div class="columna">
    <a href="https://bestolife.com/" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/nosotros2/bestolife.webp" alt="Bestolife" />
    </a>
  </div>
  <div class="columna">
    <a href="https://www.cme.se/" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/nosotros2/cme.webp" alt="CME" />
    </a>
  </div>
  <div class="columna">
    <a href="https://nationalcompressedair.com/" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/nosotros2/nca.webp" alt="NCA" />
    </a>
  </div>
  <div class="columna">
    <a href="https://www.explorationdrillmasters.com/" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/nosotros2/edm.webp" alt="EDM" />
    </a>
  </div>
  <div class="columna">
    <a href="https://www.sreps.com.au/" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/nosotros2/Recurso_14.webp" alt="SREPS" />
    </a>
  </div>
  <div class="columna">
    <a href="https://feavertools.com.au/coming-soon/" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/nosotros2/feavertools.webp" alt="Feaver Tools" />
    </a>
  </div>
  <div class="columna">
    <a href="o	https://progradex.com/" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/nosotros2/progradex.webp" alt="Progradex" />
    </a>
  </div>
  <div class="columna">
    <a href="https://casagrandegroup.com/" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/nosotros2/casagrande.webp" alt="Casagrande" />
    </a>
  </div>
</div>