<div>
  <img class="imgRotate" src="images/header/FondoCadenas.gif" alt="Icono 1"  />
</div>

<div class="contenedor-marcas">
  <div class="contenedor-logos">
    <img src="images/nosotros2/Recurso_8.webp" alt="EuroDrill" />
    <img src="images/nosotros2/Recurso_7.webp" alt="Valco" />
    <img src="images/nosotros2/Recurso_6.webp" alt="HDD" />
    <img src="images/nosotros2/Recurso_9.webp" alt="CME" />
    <img src="images/nosotros2/Recurso_5.webp" alt="EDM" />
    <img src="images/nosotros2/Recurso_4.webp" alt="Feaver Tools" />
    <img src="images/nosotros2/Recurso_3.webp" alt="Holte" />


  </div>
  <div class="contenedor-logos">
    <img src="images/nosotros2/Recurso_15.webp" alt="Bestolife" />
    <img src="images/nosotros2/Recurso_16.webp" alt="NCA" />
    <img src="images/nosotros2/Recurso_12.webp" alt="Matrix" />
    <img src="images/nosotros2/Recurso_14.webp" alt="SREPS" />
    <img src="images/nosotros2/Recurso_13.webp" alt="Progradex" />
    <img src="images/nosotros2/Recurso_17.webp" alt="Casagrande" />
    <img src="images/nosotros2/Recurso_10.webp" alt="Sundril" />
    <img src="images/nosotros2/Recurso_11.webp" alt="Ultonotec" />
  </div>
</div>

<br>
<br>
