<div class="contenedor-flex">
  <div class="columna">
    <img src="assets/images/nosotros2/bestolife.webp" alt="Bestolife" />
  </div>
  <div class="columna">
    <img src="assets/images/nosotros2/cme.webp" alt="CME" />
  </div>
  <div class="columna">
    <img src="assets/images/nosotros2/nca.webp" alt="NCA" />
  </div>
  <div class="columna">
    <img src="assets/images/nosotros2/edm.webp" alt="EDM" />
  </div>
  <div class="columna">
    <img src="assets/images/nosotros2/Recurso_14.webp" alt="SREPS" />
  </div>
  <div class="columna">
    <img src="assets/images/nosotros2/feavertools.webp" alt="Feaver Tools" />
  </div>
  <div class="columna">
    <img src="assets/images/nosotros2/progradex.webp" alt="Progradex" />
  </div>
  <div class="columna">
    <img src="assets/images/nosotros2/casagrande.webp" alt="Casagrande" />
  </div>
</div>
