.contenedor-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.columna {
  flex: 0 0 12.5%; /* 100 / 8 columnas */
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
  background-color: black;

  img{
    width: 60%;

  }

}

/* Para móviles: 4 columnas */
@media (max-width: 767px) {
  .columna {
    flex: 0 0 50%;     /* 100% / 2 columnas */
    max-width: 50%;
  }
}
