.partners-container {
  display: flex;
  justify-content: space-between;
  background-color: #002b7f;
  background-image: url('../../../../assets/images/empresa/flechasAbajo.webp');
  background-repeat: no-repeat;
  background-position: center;
  gap: 15%;
}

.partners-column-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  margin-top: 180px;
  border: 0px solid #fff;
}

.partners-column-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  margin-top: 70px;
  border: 0px solid #fff;
}

.partner-card {
  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}


@media (max-width: 768px) {
  .partners-container {
    flex-direction: column; /* Poner todo en columna */
    gap: 40px; /* espacio entre columnas convertidas en filas */
    background-position: top center; /* ajustar imagen si quieres */
  }

  .partners-column-left,
  .partners-column-right {
    margin-top: 0; /* quitar márgenes para móviles */
  }
}