@font-face {
  font-family: 'Kallisto_bold'; 
  src: url('../../../../assets/fonts/fonnts.com-Kallisto_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Kallisto_ligth'; 
  src: url('../../../../assets/fonts/fonnts.com-Kallisto_Light.otf') format('opentype');
}


.footer {
  background: linear-gradient(to right, #000000 0%, #0c0f17 100%);
  color: white;
  padding: 40px;
  font-family: 'Kallisto_bold', sans-serif;
  font-weight: 300;

  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;

    .footer-column {
      flex: 1;
      min-width: 200px;

      h3 {
        font-size: 1.6rem; 
        margin-bottom: 1.5rem;
        font-weight: 700; 
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 1.5rem;
          font-size: 1.4rem; 
          font-weight: 400;
          font-family: 'Kallisto_ligth', sans-serif;
        }
      }

      .icons {
        margin: 15px 0;
        display: flex;         /* Alinea los íconos en fila */
        gap: 20px;            
        

        i {
          font-size: 2rem;
          margin-right: 10px;
          margin-bottom: 1.5rem;
        }
      }

      .contact-info p {
        margin: 5px 0;
        font-size: 0.95rem;
        font-family: 'Kallisto_ligth', sans-serif;
        margin-bottom: 1.5rem;

        i {
          margin-right: 8px;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    align-items: flex-end;
    gap: 10px;

    .logo {
      height: 40px;
    }

    .logo-text {
      p {
        margin: 0;
        font-size: 0.85rem;
        line-height: 1.1;
      }
    }
  }
}
