<div class="grid-container">
  <div class="section section-1">
    <div class="overlay overlay-blue"></div>
    <img src="assets/images/banner/icono03.webp" alt="Icono 4" class="icon" />
  </div>
  <div class="section section-2">
    <div class="overlay overlay-celeste"></div>
    <img src="assets/images/banner/icono02.webp" alt="Icono 4" class="icon" />
  </div>
  <div class="section section-3">
    <div class="overlay"></div>
    <img src="assets/images/banner/icono04.webp" alt="Icono 1" class="icon" />
  </div>
  <div class="section section-4">
    <div class="overlay overlay-orange"></div>
    <img src="assets/images/banner/icono08.webp" alt="Icono 2" class="icon" />
  </div>
  <div class="section section-5">
    <div class="overlay overlay-white"></div>
    <img src="assets/images/banner/icono01.webp" alt="3" class="icon" />
  </div>
</div>
