.contenido-wrapper {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  padding-top: 380px;
  margin: 0 auto;
  position: relative;
}

.franja-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(to right, #6b28a9, #000000);
  height: 150px;
  padding: 0 3rem;
  position: relative;
  overflow: visible;
}

.franja-img {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.franja-img img {
  height: 500px;
  object-fit: contain;
  margin-right: 60px; /* <-- Ajusta este valor según lo que necesites */
  position: relative;
  top: -50px;
}

.franja-texto {
  flex: 1;
  max-width: 600px;
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: justify;
  padding-right: 2rem;
  z-index: 1;
  color: white;
  font-family: "Kallisto_ligth", sans-serif;
}

.icono-flecha {
  position: absolute;
  bottom: -180px; /* lo coloca debajo de la franja */
  left: 53%;
  z-index: 3;
}

.icono-superior {
  position: absolute;
  top: -60px; /* o 0, o ajusta según lo que necesites */
  left: 60%;
  transform: translateX(-50%);
  z-index: 3;
}

.texto-superior-derecha {
  position: absolute;
  top: 180px;
  right: 2rem;
  max-width: 700px;
  text-align: right;
  color: var(--azul-letra-color);
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: "Kallisto_ligth", sans-serif;
  z-index: 4;
}

@media (max-width: 768px) {
  .texto-superior-derecha,
  .franja-img,
  .icono-flecha,
  .icono-superior {
    display: none; /* Oculta esos elementos en pantallas pequeñas */
  }

  .franja-container {
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .franja-texto {
    padding: 0;
    text-align: center;
    max-width: 100%;
    font-size: 1rem;
  }

  .contenido-wrapper {
    padding-top: 0;
    height: auto;
  }
}

.supply-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #f0f0f0;
}

.animated-img {
  width: 300px;
  height: auto;
}
