.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    
  }


  
  .image-wrapper {
    max-width: 100%;
  }
  
  .drill-image {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
  }
  
  .cta-button {
    margin-top: 1rem;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;

    padding: 3px 10px; /* más grande que 10px 20px */
    font-size: 0.8rem;  /* más grande que 0.9rem */
  
  }
  
  .cta-button:hover {
    background-color: #005dc1;
  }
  
  .play-icon {
    font-size: 1rem;
  }
  

 /* ///////////  */

 .text-section {
    text-align: center;
    padding: 2rem 1rem;
  }

  .page-container {
    
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .main-title {
    text-align: center;
    font-size: 2rem;
    color: #0072ce;
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
  }
  
  .description-box {
    background: linear-gradient(to right, #b5b3ff, #000000);
    color: white;
    padding: 1.5rem;
    font-size: 0.95rem;


  }

   /* ///////////  */


  .banner-arrows {
    width: 100%;
    display: flex;
  }

  
  .banner-arrows img {
    max-width: 70%;
    height: auto;
  }
     /* ///////////  */
     .layout-wrapper {
    
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 0;
      flex-wrap: wrap;
      position: relative;
      top: 50%;
   

    }
    
    .left-column, .right-column {
      display: flex;
      flex-direction: column;
      gap: 0;
      flex: 0 0 40%; /* se adaptan al ancho disponible */
    }
    
    @media (max-width: 768px) {
      .layout-wrapper {
        flex-direction: column;
        align-items: center;
      }
    
      .left-column, .right-column {
        width: 100%;
      }
    }
    


/* Banner de la izquierda: pegado a la derecha */
.left-column .banner-arrows {
  margin-left: auto;
}

/* Banner de la derecha: pegado a la izquierda */
.right-column .banner-arrows {
  margin-right: auto;
}