<div id="Nosotros"></div>
<div class="contenido-wrapper">
  <div class="texto-superior-derecha">
    <span>DRILLING</span><br />
    <span>SOLUTIONS</span><br />
  </div>

  <div class="franja-container">
    <div class="franja-img">
      <div class="icono-superior" style="width: 480px">
        <app-img-lef [img]="imgLeft" [mensaje]="txt"></app-img-lef>
      </div>

      <img src="assets/images/supply/FOTOCONMÁQUINA.webp" alt="Perforadora" />
    </div>

    <div class="franja-texto">
      <p>
        i. Con más de 30 años en el Perú, brindamos soluciones integrales en
        perforación, siendo aliados estratégicos de empresas mineras,
        contratistas de construcción y exploración. Ofrecemos tecnología de
        vanguardia, asesoramiento de primer nivel y un servicio comprometido con
        la excelencia.
      </p>
    </div>

    <div class="icono-flecha" style="width: 450px">
      <app-img-rigth [img]="img" [mensaje]="txt"></app-img-rigth>
    </div>
  </div>
</div>
