<div id="Nosotros"></div>
<div class="contenido-wrapper">
  <div class="texto-superior-derecha">
    <span>DRILLING</span><br />
    <span>SOLUTIONS</span><br />
  </div>

  <div class="franja-container">
    <div class="franja-img">
      <div class="icono-superior">
        <img
          #observedImg
          [@slideInFromLeft]="isVisible ? 'visible' : 'hidden'"
          src="assets/images/supply/Recurso 35.webp"
          alt="Icono superior"
          class="animated-img"
        />
      </div>

      <img src="assets/images/supply/Recurso 31.webp" alt="Perforadora" />

      <img
        class="superpuesta"
        src="assets/images/supply/maquina.webp"
        alt="Imagen encima"
      />
    </div>

    <div class="franja-texto">
      <p>
        Con más de 30 años en el Perú, brindamos soluciones integrales en
        perforación, siendo aliados estratégicos de empresas mineras,
        constructoras y de exploración. Ofrecemos tecnología de punta y un
        servicio comprometido con la excelencia.
      </p>
    </div>

    <div class="icono-flecha">
      <img
        #observedRightImg
        [@slideInFromRight]="isVisibleRight ? 'visible' : 'hidden'"
        src="assets/images/supply/Recurso 34.webp"
        alt="Flecha derecha"
        class="animated-img"
      />
    </div>
  </div>
</div>
