.franjas-colores {
  display: flex;
  width: 100%;
  height: 89vh;
  flex-direction: row;
}

.franja {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: flex 0.1s ease, background-color 0.3s ease;
}

.contenido-franja {
  color: white;
  margin: 30px;
}

/* Colores */
.azul {
  background-color: #262040;
}

.celeste {
  background-color: #33a7e0;
}

.negro {
  background-color: #212121;
}

.mostaza {
  background-color: #efb212;
}

.rojo {
  background-color: #d7dfe9;
}

/* Opcional: cuando está activa una franja, puede crecer */
.franja:has(.contenido-franja) {
  flex: 7;
}

/* Reutiliza los estilos existentes para .contenedor-principal, .caja, .textoMaq, etc. */

.contenedor-principal {
  position: relative;
  display: flex;
  flex: 1;
  /* Que crezca automáticamente dentro del contenedor padre */
  width: 100%;
  height: 80vh;
  vertical-align: middle;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0)), url('../../../../../src/assets/images/maquinarias/Recurso_30Maq.webp');
  background-size: cover;
  /* Escala la imagen para cubrir todo el div */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  border-radius: 100px;
  /* 🎯 Bordes curvos */
  overflow: hidden;

}

.caja {
  flex: 1;
  /* Ambos contenedores toman el mismo ancho */
  display: flex;
  flex-direction: column;
  /* Activa Flexbox dentro de cada caja */
  justify-content: center;
  /* Centra el contenido horizontalmente */
  border: 0px solid red;
  /* Centra el contenido verticalmente */

}

.derecha {
  align-items: flex-end;
  /* alinea el contenido al lado derecho */
  justify-content: center;
  /* alinea verticalmente al centro */
}

.izquierda {
  padding-left: 5%;
}

.imagen-container {
  position: relative;
  width: 70%;
  height: 100%;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0)), url('../../../../../src/assets/images/maquinarias/Recurso_30Maq.webp');
  background-size: cover;
  /* Escala la imagen para cubrir todo el div */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  border-radius: 100px;
  /* 🎯 Bordes curvos */
  overflow: hidden;
  margin: 25px;
}
