<div id="Servicios"></div>
<div class="maquinaria-layout">
  <!-- Franjas de colores (toda la pantalla ahora) -->
  <div class="franjas-colores" [ngStyle]="activeFranjacontenidoFranja">

    <div *ngIf="activeFranjaBo" (click)="toggleFranja(0)" class="contenido-franja">

      <img src="assets/images/maquinarias/Recurso77.webp" alt="iconPlay" class="iconPlay" />
      <div class="contenedor-principal" [ngStyle]="activeFranjaStyle">
        <div class="caja derecha">
          <img [src]="activeFranjaImg" />
        </div>
        <div class="caja izquierda">

          <img [src]="activeFranjatituloimg" alt="tituloimg" class="tituloimg" />
          <img *ngIf="activeFranjabooMostrtext" [src]="activeFranjatextimg" alt="textimg" class="textimg" />
        </div>

      </div>
    </div>

    <ng-container *ngFor="let franja of franjas; let i = index">
      <div class="franja" *ngIf="i !== activeFranjaIndex" [ngClass]="franja.color" (click)="toggleFranja(i)">


        <div class="section" [ngStyle]="franja.styleFondo">
          <div class="overlay" [ngStyle]='franja.ColorFranja'></div>
          <img *ngIf="franja.booMostrIcoSup" [src]="franja.imagen" alt="Icono 4" class="iconImaSuperpuesto" />
        </div>

      </div>
    </ng-container>



  </div>
</div>
